[submodule "modules/eve/eveapi"]
	path = modules/eve/eveapi
	url = https://github.com/ntt/eveapi.git
[submodule "peewee"]
	path = peewee
	url = https://github.com/coleifer/peewee.git
[submodule "modules/auth/requests-oauthlib"]
	path = modules/auth/requests-oauthlib
	url = https://github.com/requests/requests-oauthlib.git
[submodule "modules/auth/oauthlib"]
	path = modules/auth/oauthlib
	url = https://github.com/idan/oauthlib.git
